@media (max-width:768px) {
    .head {
        width: 100%;
        display: block;
        word-spacing: 2em;

    }

    .head-heading {
        width: 100%;
        display: flex;

    }

    .head-logo {
        display: none;
    }

    .head h1 {

        display: block;
        font-size: 3.4em;
        text-transform: uppercase;
        margin-bottom: 20px;


    }

    .head span {
        margin-top: 30px;
        font-size: 1em;
        display: none;
    }

    .sub-head {
        width: 100%;
        display: block
    }

    .sub-head .list {
        width: 100%;
    }

    .sub-head .txt {
        width: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        font-weight: 500;
        word-spacing: .5em;
    }

    .sub-head .txt p {
        margin-top: 0;
        margin-bottom: 0;


    }

    .sub-head .list {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        font-weight: 500;
        word-spacing: 2.5em;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        cursor: pointer;

    }

    .sub-head .list .new {

        color: lightgray;
        text-transform: uppercase;
        cursor: auto;
        display: none;
        width: 20%;
    }

    .sub-head .list p {
        width: 20%;
        text-align: center;
    }

    .sub-head .list a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        font-weight: 500;
        word-spacing: 2.5em;
        margin-top: 15px;
        width: 20%;
        text-align: center;
        text-decoration: none;
        color: black;


    }

    .main-video iframe {
        width: 100%;
        margin-top: 40PX;
        height: 540px;
    }

    .prom {
        width: 100%;
        display: block;
        margin-top: 100px;

    }

    .prom .left {
        width: 100%;
        position: relative;
        top: 700px;
    }

    .prom .center {
        width: 100%;
        position: relative;
        top: -220px;
    }

    .prom .right {
        width: 100%;
    }

    .prom .left p {
        display: none;
    }

    .prom .left .price {
        margin-top: 0px;
        display: block;
    }

    .prom .left .txt {
        font-weight: 200;
        font-size: 1em;
        display: block;

    }

    .prom .center h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3.4em;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;

    }

    .prom .right img {
        display: none;
    }

    .prom .right .txt {
        display: none;
    }



    .hyp {
        width: 100%;
        display: block;
        margin-top: 100px;

    }

    .hyp .left {
        width: 100%;
        position: relative;
        top: 700px;
    }

    .hyp .center {
        width: 100%;
        position: relative;
        top: -220px;
    }

    .hyp .right {
        width: 100%;
    }

    .hyp .left p {
        display: none;
    }

    .hyp .left .price {
        margin-top: 0px;
        display: block;
    }

    .hyp .left .txt {
        font-weight: 200;
        font-size: 1em;
        display: block;

    }

    .hyp .center h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3.4em;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;

    }

    .hyp .right img {
        display: none;
    }

    .hyp .right .txt {
        display: none;
    }




    .ody {
        width: 100%;
        display: block;
        margin-top: 100px;

    }

    .ody .left {
        width: 100%;
        position: relative;
        top: 700px;
    }

    .ody .center {
        width: 100%;
        position: relative;
        top: -220px;
    }

    .ody .right {
        width: 100%;
    }

    .ody .left p {
        display: none;
    }

    .ody .left .price {
        margin-top: 0px;
        display: block;
    }

    .ody .left .txt {
        font-weight: 200;
        font-size: 1em;
        display: block;

    }

    .ody .center h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3.4em;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;

    }

    .ody .right img {
        display: none;
    }

    .ody .right .txt {
        display: none;
    }

    .about {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 100px;


    }

    .about h1 {
        font-size: 3.4em;
        text-transform: uppercase;
        margin: 0;

        margin-bottom: 20px;
        margin-top: 20px;
    }

    .about p {
        font-size: 1em;
        word-spacing: .5em;
        line-height: 1.5em;
        text-align: justify;
    }

    .contact {
        width: 100%;
        display: block;
        padding-top: 0px;
        padding-bottom: 100px;


    }

    .contact .left {
        width: 100%;
    }

    .contact .right {
        width: 45%;
        display: none;
    }

    .contact .left .head h1 {
        width: 70%;
        display: block;
        font-size: 3.4em;
        text-transform: uppercase;
        margin: 0;
        margin-top: 10px;


    }

    .contact .left .head img {
        width: 30%;
        aspect-ratio: 1/1;
    }




    .footer {
        width: 100%;
        display: block;
        padding-top: 0px;
        padding-bottom: 50px;
        margin-top: 0px;
        border-top: 1px solid lightgray;
        justify-content: space-between;
    }

    .footer .left {
        width: 100%;
    }

    .footer .right {
        width: 100%;
        margin-top: 20px;
    }

    .footer .mid {
        width: 100%;
        margin-top: 20px;
    }

    .footer .right h1 {
        display: block;
        font-size: 3.4em;
        text-transform: uppercase;
        margin: 0;

        margin-bottom: 50px;

    }

    #navbar {
        display: none;
    }


    .prod h1 {
        font-size: 3.4em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .prod iframe {
        width: 100%;
        height: 540px;
        margin-top: 50px;
    }

    .prod p {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        margin-top: 50px;
    }

    .prod .img-row-1 {
        width: 100%;
        display: block;
        margin-top: 50px;
    }

    .prod .img-row-1 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .prod .img-row-2 {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    .prod .img-row-2 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .prod .img-row-3 {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    .prod .img-row-3 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .prod button {
        width: calc(50% - 1px);
        margin-left: 25%;
        border: 1px solid black;
        background: transparent;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .prod .details {
        width: 100%;
        display: block;
        margin-top: 0px;
    }

    .prod .details .left {
        width: 100%;
    }

    .prod .details .mid {
        width: 100%;
    }

    .prod .details .right {
        width: 100%;
    }

    .prod .details .left h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }

    .prod .details .left hr {
        margin-bottom: 20px;
    }

    .prod .details .left p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;


    }

    .prod .details .mid h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
    }

    .prod .details .mid hr {
        margin-bottom: 20px;
    }

    .prod .details .mid p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;

    }

    .prod .details .right h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
    }

    .prod .details .right hr {
        margin-bottom: 20px;
    }

    .prod .details .right p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;

    }

    .prod .img-row-4 {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    .prod .img-row-4 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .prod .img-row-5 {
        width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .prod .img-row-5 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .prod .warenty .grp {
        display: block;
    }

    .prod .warenty h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .prod .warenty .left {
        width: 100%;
    }

    .prod .warenty .right {
        width: 100%;
    }

    .prod .warenty .left button {
        width: calc(30% - 2px);
        aspect-ratio: 1/1;
        font-size: 2em;
        margin-left: 35%;
        border-radius: 100%;
        margin-top: 0;

    }

    .prod .warenty .right button {
        width: calc(30% - 2px);
        aspect-ratio: 1/1;
        font-size: 2em;
        margin-left: 35%;
        border-radius: 100%;
        text-transform: uppercase;
        margin-top: 0;
        margin-top: 50px;

    }

    .prod .warenty .left h1 {
        font-size: 2em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 400;
        line-height: 2em;
        text-align: center;
    }

    .prod .warenty .left p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;
        text-align: center;

    }

    .prod .warenty .right h1 {
        font-size: 2em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 400;
        line-height: 2em;
        text-align: center;
    }

    .prod .warenty .right p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;
        text-align: center;
    }










    .hypd h1 {
        font-size: 3.4em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .hypd iframe {
        width: 100%;
        height: 540px;
        margin-top: 50px;
    }

    .hypd p {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        margin-top: 50px;
    }

    .hypd .img-row-1 {
        width: 100%;
        display: block;
        margin-top: 50px;
    }

    .hypd .img-row-1 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .hypd .img-row-2 {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    .hypd .img-row-2 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .hypd .img-row-3 {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    .hypd .img-row-3 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .hypd button {
        width: calc(50% - 1px);
        margin-left: 25%;
        border: 1px solid black;
        background: transparent;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .hypd .details {
        width: 100%;
        display: block;
        margin-top: 0px;
    }

    .hypd .details .left {
        width: 100%;
    }

    .hypd .details .mid {
        width: 100%;
    }

    .hypd .details .right {
        width: 100%;
    }

    .hypd .details .left h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }

    .hypd .details .left hr {
        margin-bottom: 20px;
    }

    .hypd .details .left p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;


    }

    .hypd .details .mid h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
    }

    .hypd .details .mid hr {
        margin-bottom: 20px;
    }

    .hypd .details .mid p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;

    }

    .hypd .details .right h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
    }

    .hypd .details .right hr {
        margin-bottom: 20px;
    }

    .hypd .details .right p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;

    }

    .hypd .img-row-4 {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    .hypd .img-row-4 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .hypd .img-row-5 {
        width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .hypd .img-row-5 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .hypd .warenty .grp {
        display: block;
    }

    .hypd .warenty h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .hypd .warenty .left {
        width: 100%;
    }

    .hypd .warenty .right {
        width: 100%;
    }

    .hypd .warenty .left button {
        width: calc(30% - 2px);
        aspect-ratio: 1/1;
        font-size: 2em;
        margin-left: 35%;
        border-radius: 100%;
        margin-top: 0;

    }

    .hypd .warenty .right button {
        width: calc(30% - 2px);
        aspect-ratio: 1/1;
        font-size: 2em;
        margin-left: 35%;
        border-radius: 100%;
        text-transform: uppercase;
        margin-top: 0;
        margin-top: 50px;

    }

    .hypd .warenty .left h1 {
        font-size: 2em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 400;
        line-height: 2em;
        text-align: center;
    }

    .hypd .warenty .left p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;
        text-align: center;

    }

    .hypd .warenty .right h1 {
        font-size: 2em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 400;
        line-height: 2em;
        text-align: center;
    }

    .hypd .warenty .right p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;
        text-align: center;
    }





    .odyd h1 {
        font-size: 3.4em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .odyd iframe {
        width: 100%;
        height: 540px;
        margin-top: 50px;
    }

    .odyd p {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        margin-top: 50px;
    }

    .odyd .img-row-1 {
        width: 100%;
        display: block;
        margin-top: 50px;
    }

    .odyd .img-row-1 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .odyd .img-row-2 {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    .odyd .img-row-2 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .odyd .img-row-3 {
        width: 100%;
        display: block;
        margin-top: 5px;
    }

    .odyd .img-row-3 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .odyd button {
        width: calc(50% - 1px);
        margin-left: 25%;
        border: 1px solid black;
        background: transparent;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    .odyd .details {
        width: 100%;
        display: block;
        margin-top: 0px;
    }

    .odyd .details .left {
        width: 100%;
    }

    .odyd .details .mid {
        width: 100%;
    }

    .odyd .details .right {
        width: 100%;
    }

    .odyd .details .left h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
    }

    .odyd .details .left hr {
        margin-bottom: 20px;
    }

    .odyd .details .left p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;


    }

    .odyd .details .mid h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
    }

    .odyd .details .mid hr {
        margin-bottom: 20px;
    }

    .odyd .details .mid p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;

    }

    .odyd .details .right h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 50px;
    }

    .odyd .details .right hr {
        margin-bottom: 20px;
    }

    .odyd .details .right p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;

    }

    .odyd .img-row-4 {
        width: 100%;
        display: block;
        margin-top: 20px;
    }

    .odyd .img-row-4 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .odyd .img-row-5 {
        width: 100%;
        display: block;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .odyd .img-row-5 img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    .odyd .warenty .grp {
        display: block;
    }

    .odyd .warenty h1 {
        font-size: 3em;
        text-transform: uppercase;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .odyd .warenty .left {
        width: 100%;
    }

    .odyd .warenty .right {
        width: 100%;
    }

    .odyd .warenty .left button {
        width: calc(30% - 2px);
        aspect-ratio: 1/1;
        font-size: 2em;
        margin-left: 35%;
        border-radius: 100%;
        margin-top: 0;

    }

    .odyd .warenty .right button {
        width: calc(30% - 2px);
        aspect-ratio: 1/1;
        font-size: 2em;
        margin-left: 35%;
        border-radius: 100%;
        text-transform: uppercase;
        margin-top: 0;
        margin-top: 50px;

    }

    .odyd .warenty .left h1 {
        font-size: 2em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 400;
        line-height: 2em;
        text-align: center;
    }

    .odyd .warenty .left p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;
        text-align: center;

    }

    .odyd .warenty .right h1 {
        font-size: 2em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 400;
        line-height: 2em;
        text-align: center;
    }

    .odyd .warenty .right p {
        font-size: 1em;

        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        font-weight: 300;
        line-height: 2em;
        text-align: center;
    }

    .last-img {
        width: 100%;
        aspect-ratio: 1/1;
        margin-left: 0%;
    }

    .nav-res {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-res img {
        width: 10%;
        height: 40px;
    }

    .nav-res p {
        width: calc(80% - 10px);
 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 7px;
        text-align: end;
        text-transform: uppercase;
        margin-right: 10px;
    }

    .navlink {
        width: 100%;
        padding-top: 50px;
        position: relative;
        left: -200%;
        display: none;

    }

    .navlink a {
        width: 100%;
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 3.4em;
        line-height: 2em;
        text-decoration: none;
        color: black;
    }
    #close{
        display: none;
    }

    .show {
        display: block;
        

    }

    .showani {
        left: 0%;
        transition: left 1s;
        
    }
    .hideani{
         left: -200%;
        transition: left 1s;
    }

    @keyframes shownav {
        form {
            left: 200%;

        }

        to {
            left: 0%;
        }
    }
    @keyframes hidenav {
        form {
            left: 0%;

        }

        to {
            left: -200%;
        }
    }

}